//////////////////////////////////////////////////////////////////////////////
// ELLIOTT SMITH ALTERNATIVE ARTICLE DESIGN
//////////////////////////////////////////////////////////////////////////////

$balloon-red: #d13948;

body {
    background: #fff;
    font-family: 'Playfair Display';
}

a:hover:after {
    content:attr(href);
    margin-left:20px;
    display: inline-block;
}

.article-header {
  background:#000 url('../img/esmith-large.jpg') top center no-repeat;
  background-size: cover;
  height:900px;
  color:#fff;
  font-family: 'Playfair Display';
  position: relative;
  @include media-breakpoint-up(lg) {
    background-size: auto 900px;;
  }

  // &:after {
  //   content: "";
  //   height:19px;
  //   width:100%;
  //   position: absolute;
  //   background: $balloon-red;
  //   bottom:0;
  //   z-index:2;
  // }

  .article-overlay {
    position: absolute;
    display:block;
    z-index:1;
    width:100%;
    height:100%;
    background:rgba(#000, .2);
    background-image: linear-gradient(0deg,#000 2%,transparent 50%);
  }

  .article-intro {
    margin:65px 0 0 0;
    font-size:1.2rem;
    text-shadow:3px 3px 5px rgba(#000,.65);


    h1.article-title {
      font-size:3.9rem;
      text-shadow:5px 5px 3px rgba($balloon-red,1);
      text-align:center;
      transition: all .6s;
    }
    h2.article-title{
      font-weight:bold;
      font-size:2.30rem;
      margin-bottom:40px;
      text-shadow:3px 3px 2px rgba(255,255,255,.35);
      text-align:center;
    }
    hr {
      border-top: 1px solid rgba(#fff,.8);
      text-align: center;
      margin:22px 0;
    }
    hr:after {
      content: '§';
      display: inline-block;
      position: relative;
      top: -24px;
      padding: 0;
      color: #fff;
      font-size: 28px;
      transform: rotate(60deg);
    }
    .deck {
      font-size:.8rem;
      text-transform: uppercase;
      color: $balloon-red;
      margin:0 0 25px;
      .date {
        float: right;
      }
      span {
        color: rgba(#fff, .8);
      }
    }

  }
}

.article-body {
  margin:200px 0;
  line-height:2.2;
  position: relative;

  #balloon {
    width:150px;
    position: absolute;
    right:-100px;
    bottom:-300px;
    z-index: -1;

    &.floating {
        transform: rotate(-3deg);
    }
  }
};

@keyframes floating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0    deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.comingup {
  text-align: right;
  margin: 0 100px 180px 0;
}

// ALBUM FACTS
///////////////////////////////////////

#album-facts {
  position: relative;
  margin: 90px 0;
}

.feat-title {
  font-size: 1.9rem;
  line-height: 1rem;
  margin: 50px 0 0;
  text-transform: uppercase;
  padding: 10px 5px;
  border-top:solid 1px #CCC;
  border-bottom:solid 1px #CCC;
}

.direction-ctrls {
  position: absolute;
  right:25px;
  top:35px;
  z-index: 10;
  color:#fff;

  button {
    background:none;
    padding:0;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;

    img {
      max-width:70px;
    }
  }
  button#prev {
    margin-right: 20px;
    img {
      transform: scaleX(-1);
    }

  }
  button#next {

  }
}
.albumSlide {
  font-family: Lato;

  .titlebar {
    margin:0 0 0 0px;
    position: relative;
    color:#990000;
    padding:5px 15px;
    top:-5px;

    .release-date {
      font-size: 1.8rem;
      background: #990000;
      color:#fff;
      padding:2px 18px;
      top:-50px;
      margin-left:120px;
      transform: rotate(-1deg);
      box-shadow: 4px 4px 4px rgba(#000, .2);
      border-bottom:solid 2px #ff0000;
    }
    .album-title {
      margin:50px 220px 0 80px;
      font-size:3.65rem;
      line-height: 1;
      display: block;
      color:#000;
      font-family: 'Playfair Display';
      text-transform: uppercase;
      letter-spacing: -1;
      border-bottom: dotted 1px #ccc;
      padding:0 0 20px 0;
    }
  }


  ul.ul-album {
    list-style: none;
    position: relative;
    margin:0 0px 60px 0px;
    padding:0 270px 0 110px;

    font-size:.9rem;
    transition:all .5s ease-out;
    li {
      border-bottom:solid 1px #ccc;
      margin:0;
      padding:8px 0;
      // list-style-type: disc;

      &:last-child {
        border:none;
      }
    }
    img.album-cover {
      max-width:350px;
      position: absolute;
      top:-110px;
      right:-110px;
      border: solid 10px #fff;
      box-shadow: 5px 5px 10px rgba(#000, .5);
      animation:rotatecover .5s ease-out 1;
      animation-fill-mode: forwards;
      transition: all 1.5s ease-out;
      &.hidden  {
        display: none;
      }
    }
    img.album-vinyl {
      max-width:330px;
      position: absolute;
      top:-110px;
      right:-110px;
      z-index: -10;
      &.hidden  {
        left:-180px;
      }
      animation: pull-out-rotating 2s ease-out;
      animation-delay: .2s;
      animation-fill-mode: forwards;
    }
    &.w_image {
      margin:20px 0 60px;
      padding:0 30px 0 80px;
      img {
        display:block;
      }
    }
  }

}



#dots {
  z-index: 80;
  position: absolute;
  left:-20px;
  top:110px;

  .active {
    background-color: #717171;
    opacity: 1;
    border: solid 3px #fff;
    // height: 65px;
    // width: 65px;
    cursor: default;

  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin: 12px 2px;
  background-color: #bbb;
  display: block;
  transition: background-color 0.6s ease;
  box-shadow: 2px 2px 5px rgba(#000, .3);
  border: solid 1px #FFF;
  opacity: .6;
  transform: rotate(-3deg);
  transition: left 3s ease-out ;
  &:hover {
    opacity: .8;
  }
}

// ANIMATIONS

@keyframes rotatecover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes pull-out-rotating {
  0% {
    top:-100px; right:-110px;
  }
  // 40% {

  //   top:-93px; right:-120px;
  //   // top:50; left: 50;
  // }
  // 80% {
  //   top:-93px; right:-120px;

  // }
  100% {
    top:-85px; right:-240px;
    transform: rotate(360deg);
  }
}